name: Terraform Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  TF_VERSION: 1.6.6

jobs:
  deploy-dev:
    name: Deploy DEV
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Terraform Init
        working-directory: envs/dev
        run: terraform init

      - name: Terraform Plan
        working-directory: envs/dev
        run: terraform plan

      - name: Terraform Apply
        working-directory: envs/dev
        run: terraform apply -auto-approve
