name: Terraform CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        directory:
          - modules/ec2
          - modules/vpc
          - envs/dev
          - envs/stage
          - envs/prod

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        working-directory: ${{ matrix.directory }}
        run: terraform init -backend=false

      - name: Terraform Validate
        working-directory: ${{ matrix.directory }}
        run: terraform validate

      - name: Terraform Format
        if: always()
        run: terraform fmt -check -recursive
